body {
    background-color: #000; 
    color: #fff; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  
  .card-body-detalle {
    background-color: rgba(255, 255, 255, 0.068); /* Transparent white for a sleek look */
    border-radius: 10px;
    color: #00ff6a; /* Neon green */
    box-shadow: 0px 0px 15px rgba(0, 255, 106, 0.5);
  }

  .card-body-detalle p {
    margin: 3px;
  }
  
  
  
  h3 {
    color: #00bfff; /* Neon blue for the character name */
    text-shadow: 0px 0px 10px rgba(0, 191, 255, 0.8);
  }

  h2 {
    font-family: 'Star Jedi', sans-serif; 
    font-size: 2rem;
    color: #ffe81f; 
    text-shadow: 0px 0px 10px rgba(255, 232, 31, 0.8);
    text-shadow: 0px 0px 10px rgba(255, 232, 31, 0.8); 
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
  }
  

  
  .row {
    display: flex;
    justify-content: center;
  }

.card { 
    background-color: rgb(0, 0, 0);
    color: #00bfff; /* Neon green */
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.959);
    border: 1px solid #00bfff;
}
.card-title{
  color: #00bfff;
}


.starwars-logo {
    font-family: 'Star Jedi', sans-serif; 
    font-size: 2rem;
    color: #ffe81f; 
    text-shadow: 0px 0px 10px rgba(255, 232, 31, 0.8); 
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}


.starwars-logo:hover {
    transform: scale(1.1); 
    text-shadow: 0px 0px 15px rgba(255, 232, 31, 1); 
}

